body
{
	margin: 0px;
	padding: 0px;
	/* //overflow-x:hidden; */

}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img
   {
   	margin-top: 0px;
      width: 100%;
      height:350px;
      /* //margin: auto; */
  }
.nav
{
	height:50px;
	background-color: red;
	color:#2dcdf5;

}
nav ul li a
{
	color:white;
}
.collapse ul li
{
	margin:5px 10px 5px 10px;
	font-size: 16px;
}
.navbar
{
	background-color: #2dcdf5;
}
.top-header
{
	height: 30px;
	width:100%;
	background-color: #f0f0f0;
	
}
.inner-top-header
{
	/* //height: 30px; */
	background-color: #f0f0f0;
	margin-right: auto;
	margin-left: auto;
}
.header
{
	height: 60px;
	width: 100%;
	background-color: #0099cc;
}
.inner-header
{
	height: 50px;
	width:1100px;
	margin-right: auto;
	margin-left: auto;
}
.fab
{
	width:100%;
	margin-bottom: 0px;
	z-index: 5;
	
}
.col-md-4 p.heading
{
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}
.col-md-4 img
{
	margin-left: auto;
	margin-right: auto;
}
.body-box .col-md-4 p.content
{
	text-align: justify;
}
.body-box .col-md-4 p
{
	text-align: center;
}
.col-md-4 a
{
	text-align: center;
}
.nb
{
	width:100%;
	background-color: #0099cc;
	margin: 0px auto 0px auto;
}
.inner-nb{

}
.row
{
	margin-left: auto;
	margin-right: auto;
}
.footer
{
	width:100%;
	background-color:#0099cc;
	/* //height:50px; */
}
.inner-footer
{
	height:50px;
	border-top: 1px solid white;
}
.welcome
{
	height:100px;
	background-color: #f0f0f0;
}
.welcome p
{
	text-align: center;
	color:black;
	font-size:23px;
}
.nb
{
	margin-top: 20px;
}
.nb ul,p.a
{
	color:white;
	font-size: 18px;
}
.nb ul li a,p.b
{
	color:#f0f0f0;
	font-size: 15px;

}
.nb ul li 
{
	list-style-type: none;
}
.inner-footer
{
	background-color: #0099cc;
	height:auto;
}
.inner-footer span
{
	color:white;
	font-size: 16px;
	margin: 20px 10px 2px 50px;
}
.inner-top-header a
{
	margin-top: 10px;
	font-size: 14px;
}
.navbar ul 
{
	background-color:#0099cc;
	z-index: 100;
}